
$main-color: #f9f4f0;
$main-font-color: #555;

$second-color: #e2d070;

$footer-bg-color: #0D1C35;
$footer-font-color: #fff;

$border-color: rgba(0,0,0,.05);

$font-color: #666;

$side-bor-size: 50px;
$sideBorSize: (
    sp: 50px,
    tab: 70px,
    pc: 100px
);
$error: #ff694a;